/.vscode
/CursoJS (Curso em video)
/CursoJS (Origamid)
/Curso_de_algoritimo_e_lógicaDeProgramação_no_visualg
/Prototypo Lendas Fántasticas
/VISUALG.INI
/conteudo JavaScript
/ferramentas que vale apena pesquisar ou estudar
/meus estudos 206
/wallpaper.gif